@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #a7abb3f3, #3e4349e0),
    url("./img/rit-bg.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.heading-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.heading {
  color: #fff;
  /* text-transform: uppercase; */
  text-align: center;
}

.heading-main {
  display: block;
  /* text-align: center; */
  /* font-size: 30px;
  
  letter-spacing: 17.5px;
  padding-left: 17.5px; */

  /* font-size: 50px; */
  font-size: 15vw;
  /* letter-spacing: 17.5px;
  padding-left: 17.5px; */
  letter-spacing: 4vw;
  padding-left: 4vw;
}
.heading-menu {
  display: block;
  /* font-size: 15px; */
  font-size: 4.5vw;
  font-weight: 700;
  /* letter-spacing: 17.4px; */
  letter-spacing: 1.5vw;
  padding-left: 1.5vw;
  margin-right: 40px;
  text-align: right;
}
.heading-menu a {
  text-decoration: none;
  display: block;
  height: 60px;
  color: white;
  position: relative;
}

/* .heading-primary-sub a:hover {
   color: #213a8f; 
} */
.heading-menu a::after {
  content: "";
  position: absolute;
  /* transform: scaleX(0); */
  /* transform: translateX(20); */
  opacity: 0;
  width: 100%;
  height: 3px;
  bottom: -10px;

  left: 0;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.heading-menu a:hover::after {
  opacity: 1;
  /* transform: scaleX(1); */
  /* transform: translateX(0.5); */
}

/* .heading-menu a:nth-of-type(2)::before,
.heading-menu a:nth-of-type(3)::before {
  text-decoration: none;
  content: "| ";
  color: white;
  position: relative;
} */
@media only screen and (min-width: 576px) {
  .heading-main {
    /* font-size: 60px; */
    font-size: 70px;
    letter-spacing: 35px;
    padding-left: 35px;
  }
  .heading-menu {
    font-size: 20px;
    letter-spacing: 8px;
    padding-left: 8px;
    text-align: center;
    margin-right: 0px;
  }

  .heading-menu a {
    display: inline;
  }
  .heading-menu .seperater::before {
    content: " |";
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
